* {
  padding: 0;
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketchTemplate {
  margin-top: 25px;
  height: 650px;
  width: 600px;
  background-color: crimson;
  border: 2px solid black;
  border-radius: 25px;
}

.grid {
  margin: 50px auto auto auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.pixel {
  background-color: lightsteelblue;
  /* border: 1px solid black; */
}

.toolbar {
  background-color: blue;
  margin: 50px auto auto auto;
  width: 450px;
  display: flex;
  justify-content: space-evenly;
}
