
.modal {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.no-display {
  display: none;
}

#modal-container { 
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

#image-description {
  margin-top: 1rem;
}