/* * - universal selector - applies to every element */ 

* {
  font-size: 70px;
}

/* ">" - child combinator - Will only select direct children */
/* main > div  - will only select divs with class of child */
/* main > div > div - will only select divs with a class of grand-child */

/* .parent > div > div {
  color: purple;
} */

/* "+" - adjacent sibling combinator - Will select elements on the same level of identation */
/* .child-group1 + div - selects the grandchild div of .child-group2 */
/* .child-group1 + div + div - selects the grandchild div of .child-group3 */

/* .child-group1 + div {
  color: red;
} */

/* .child-group1 + div + div {
  color: purple;
} */

/* ~ - general sibling combinator - Selects all elements siblings */
/* .child-group1 ~ div - selects all of group2 and group3 child divs */

/* .child-group1 ~ div {
  color: red;
} */

/* ============================================= */

/* Pseudo classes and Pseudo-selectors  */

input:focus {
  background-color: lightblue;
  color: red;
}

.child-group3 .grand-child-group3:hover {
  background-color: yellow;
  color: green;
}

a {
  color: green;
  text-decoration: none;
}

a:visited {
  color: red;
}

.button-one:active {
  box-shadow: 2px 2px 5px red;
}

/* :root is a special class that represents the very top level of the document === html element */
/* :root is generally where you place global CSS rules */

/* :first-child and :last-child - will match elements that are the first or last sibling */

/* :empty - will match elements that have no children */

/* :only-child - will match elements that dont have any siblings */ 

/* nth-child is a flexible pseudo class - used as below */

.listy div:nth-child(odd) {
  text-decoration: underline;
  color: red;
} /* can also be odd */

.listy div:nth-child(3) {
  background-color: aqua;
}

.listy div:nth-child(2n) {
  background-color: purple;
}  /* every 2nd element */

/* ============================================= */
/* Pseudo-elements */

/* ::marker for customizing li element dots/dashes */

.list-two{
  margin-left: 50px;
}

.list-two li::marker {
  color: red;
  content: "🧡 ";
}

/* ::first-letter and ::first-line give seperate styling to first letters and lines (Does what it says on the tin really) */

/* ::selection - defines the style of highlighted elements */

.pmoney::selection {
  color: lightblue;
  background-color: pink;
}

/* ::before and ::after work as below: */

.emojify::before {
  content: '😎 🥸 🤓';
}

.emojify::after {
  content: '🤓 🥸 😎';
}

/* ================================================ */
/* Attribute selectors - Used for selecting elements with src attributes e.g. imgs */
/* [src] - will target any element with a src attribute - img[src] - targets imgs  - img[src="img.jpg] - targets the img element with specific src attribute" */

/* [class^='abc'] { }  - targets any class that begins with 'abc' */
/* [src$='.jpg'] { } - This will target any src attribute that ends in '.jpg' */
/* [for*='ill'] { } - This will target any attribute that has 'ill'  anywhere in it e.g. 'silly' */

