@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Nabataean&family=Oswald:wght@300&family=Roboto+Mono:wght@500&display=swap');

body {
  background-color: bisque;
}

h1 {
  color: midnightblue;
  font-family: 'Noto Sans Nabataean', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Mono', monospace;
  pointer-events: none;
}

.gradient {
  font-size: 3rem;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214,202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.2em;
}

.gradient-two {
  font-size: 3rem;
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214,202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.2em;
  pointer-events: none; /* prevents the ability of highlighting text */
  opacity: 0;
  animation: fade 6s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close {
  letter-spacing: -0.15em;
}

.first {
  font-family: 'Noto Sans Nabataean', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: lightslategrey;
  font-style: italic;
  display:flex;
  letter-spacing: 0.5em;
}

.system-font-stack {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: hotpink;
  line-height: 1.5;
}

.play {
  font-size: 3rem;
}

.play .a {
  color: goldenrod;
  text-shadow: 1px 1px 2px grey;
}

.play .b {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play .c {
  color:darkslategrey;
  text-transform: uppercase;
}